html {
  color-scheme: dark;
  &[data-theme="light"] {
    color-scheme: light;
  }
  &[data-theme="dark"] {
    color-scheme: dark;
  }
}
body {
  min-height: 100vh; 
  background: rgb(12, 12, 12);
  background-repeat: no-repeat;
  background-image: url("bg.svg");
  background-size: cover; 
  background-position: center; 
  color: white;
  overflow-x: hidden;
}

@media (max-width: 1000px) {
  body {
    background: rgb(12, 12, 12);
  }
}
