html {
  color-scheme: dark;
  &[data-theme=light] { color-scheme: light; }
  &[data-theme=dark] { color-scheme: dark; }
}
body {
  min-height: 100vh; /* Занимает всю высоту видимой области */
  background: rgb(12, 12, 12);
  background-repeat: no-repeat;
  color: white;
  overflow-x: hidden;
}
